<div class="recipe-box">
  <div class="recipe-image-box">
    <img class="recipe-image" *ngIf="recipe.picture_uri; else noImage" src="{{ this.baseUrl + recipe.picture_uri }}"
      alt="Image" />
  </div>
  <div class="recipe-info">
    <h1 class="recipe-title" [routerLink]="['/recipe/view', recipe.id]">
      {{ recipe.name }}
    </h1>
    <p class="recipe-text">{{ recipe.description }}</p>
    <div class="recipe-stats">
      <p class="recipe-stats-item">{{ recipe.time }} Min</p>
      <p class="recipe-stats-item">{{ recipe.difficulty }}</p>
      <p class="recipe-stats-item">{{ recipe.rating }} Votes</p>
    </div>
    <div class="recipe-tags">
      <p *ngFor="let tag of recipe.tags" class="recipe-tags-item" [routerLink]="['/tag', tag.name]">
        {{ tag.name }}
      </p>
    </div>
  </div>
</div>

<ng-template #noImage>
  <img class="recipe-image" src="/assets/icons/recipe_picture_placeholder.svg" alt="Image" />
</ng-template>
