<div class="recipe-box">
  <div class="recipe-image-box">
    <a [routerLink]="['/recipe/view', recipe.id]">
      <img class="recipe-image" *ngIf="recipe.picture_uri; else noImage" src="{{ this.baseUrl + recipe.picture_uri }}"
        alt="Image" />
    </a>
  </div>
  <div class="recipe-info">
    <a class="recipe-title" [routerLink]="['/recipe/view', recipe.id]">
      {{ recipe.name }}
    </a>
    <p class="recipe-text">{{ recipe.description }}</p>
    <div class="recipe-stats">
      <p class="recipe-stats-item">{{ recipe.time }} Min</p>
      <p class="recipe-stats-item">{{ recipe.difficulty }}</p>
      <p class="recipe-stats-item">{{ recipe.rating }} Votes</p>
    </div>
    <div class="recipe-tags">
      <app-tag-item [tags]="recipe.tags"> </app-tag-item>
    </div>
  </div>
</div>

<ng-template #noImage>
  <img class="recipe-image" src="/assets/icons/recipe_picture_placeholder.svg" alt="Image" />
</ng-template>
