.recipe-box {
  margin: 10px;
  padding: 5px;
  width: 500px;
  height: 200px;
  border-radius: 1em;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--secondary-background-color);
}

.recipe-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.recipe-image {
  width: 35%;
  height: auto;
  padding: 10px;
}
.recipe-stats {
  display: flex;
  justify-content: space-right;
  align-items: center;
}

.recipe-stats-item {
  margin: 10px;
  padding: 5px;
  background-color: var(--secondary-color);
  border-radius: 1em;
}

.recipe-tags {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.recipe-tags-item {
  margin: 10px;
  padding: 5px;
  background-color: var(--primary-color);
  border-radius: 1em;
}
