<div class="menu-container" *ngIf="isLoggedOut()">
  <a routerLink="/auth/login">Login</a> <br>
  <a routerLink="/register">Register</a> <br>
  <a routerLink="/about">About</a>
</div>

<div class="menu-container" *ngIf="isAdmin()">
  <a [routerLink]="['/user', userName]">Profile</a> <br>
  <a routerLink="/recipe/upload">Upload Recipe</a> <br>
  <a routerLink="/recipe/liked">Liked Recipes</a> <br>
  <a routerLink="/settings">Settings</a> <br>
  <a routerLink="/admin">AdminPanel</a> <br>
  <a routerLink="/auth/logout">Logout</a> <br>
  <a routerLink="/about">About</a>
</div>

<div class="menu-container" *ngIf="isLoggedIn()" ng-if>
  <a [routerLink]="['/user', userName]">Profile</a> <br>
  <a routerLink="/recipe/upload">Upload Recipe</a> <br>
  <a routerLink="/recipe/liked">Liked Recipes</a> <br>
  <a routerLink="/settings">Settings</a> <br>
  <a routerLink="/auth/logout">Logout</a> <br>
  <a routerLink="/about">About</a>
</div>
