.recipe-information-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex: 49%;
}

.form-input-container {
  margin-right: 1em;
  margin-bottom: 1em;
}

.flex-item-container {
  flex: 49%;
}

@media (max-width: 600px) {
  .form-input {
    width: 105%;
  }
  .text-input {
    width: 105%;
  }
  .ingredients {
    margin-left: -10px;
  }
}
