.recipe-information-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 600px) {
  .form-input {
    width: 105%;
  }
  .text-input {
    width: 105%;
  }
  .ingredients {
    margin-left: -10px;
  }
}
