<div class="recipe-information-container">
  <app-form-input class="flex-item-container" type="text" label="Name" [(value)]="recipe.name"> </app-form-input>

  <app-form-input class="flex-item-container" type="text" label="Description" [(value)]="recipe.description">
  </app-form-input>

  <app-form-input-textarea class="flex-item-container" label="Preparation" [(value)]="recipe.preparation">
  </app-form-input-textarea>

  <app-form-input class="flex-item-container" type="text" label="Difficulty" [(value)]="recipe.difficulty">
  </app-form-input>

  <app-form-input class="flex-item-container" type="number" label="Time" [(value)]="recipe.time"> </app-form-input>

  <app-category-selector class="flex-item-container" [(category_id)]="recipe.category_id">
  </app-category-selector>

  <app-ingredients-table-input class="flex-item-container ingredients" [(ingredients)]="recipe.ingredients">
  </app-ingredients-table-input>
</div>
