.header {
  background-color: var(--secondary-background-color);
  padding: 0 24px;
  height: 56px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 500px 0 rgba(0, 0, 0, 0.1);
}

.header-nav {
  color: var(--primary-text-color);
  display: inline-flex;
  line-height: 56px;
}

.icon-text {
  font-family: 'Sail', sans-serif;
  margin-top: auto;
  font-size: 24pt;
}

.icon {
  width: 4em;
  margin-top: -1.5em;
  margin-right: 0.5em;
}

.search-icon{
  width: 2.5em;
}

.user-icon{
  width: 3em;
  margin-left: 20px;
}

.menu-icon{
  display: none;
}

.category{
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: 'Darker Grotesque', sans-serif;
  font-style: bold;
  font-size: 18pt;
  margin-right: 25px;
}

.menu-hover{
  width: 100px;
  height: 100px;
}

.left {
  float: left;
  text-decoration: none;
}

.right {
  float: right;
}


@media screen and (max-width: 800px) {
  .user-icon{
    width: 3em;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: -10px;
  }

  .search-icon{
    margin-top: 5px;
    width: 2.5em;
  }

  .category {
    display: none;
  }

  .menu-icon {
      display: inherit;
      margin-top: 8px;
      margin-right: 10px;
      height: 2.5em;
  }
}
