.login-form-container {
  background-color: var(--secondary-background-color);
  border-radius: 1em;
  margin: 0 auto;
  padding: 3em;
  padding-bottom: 5em;
  width: fit-content;
}

.form-title {
  font-family: "Darker Grotesque", sans-serif;
  text-align: center;
  font-size: 32pt;
  margin-top: -10%;
}

.form-label{
  font-family: "Darker Grotesque", sans-serif;
  font-size: 16pt;
  margin-bottom: 5px;
}

.form-input {
  background-color: var(--primary-background-color);
  font-family: "Darker Grotesque", sans-serif;
  font-size: 14pt;
  border-style: solid;
  width: 98%;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 8%;
  margin-top: 5px;
}

.empty-div {
  max-width: 400px;
  margin: 0 auto;
}

.login-button {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 16pt;
  margin-top: 1%;
  background-color: var(--primary-color);
  border-style: solid;
  border-radius: 50px;
  padding: 3px 20px;
}

.text {
  color: #949494;
  margin-left: 1%;
  font-family: "Darker Grotesque", sans-serif;
}


.login-form-failed-login {
  color: red;
}

.right {
  float: right;
}

.left{
  float: left;
}

