.header-box {
  width: 95%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  border-radius: 1em;
  background-color: var(--secondary-background-color);
}

.header-message {
  font-family: "Darker Grotesque", sans-serif;
  text-align: center;
  font-size: 32pt;
  min-height: 100px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
