.header-box{
  width: 95%;
  height: 7em;
  margin: auto;
  margin-top: -3%;
  border-radius: 1em;
  background-color: var(--secondary-background-color);
}

.header-message{
  font-family: 'Darker Grotesque', sans-serif;
  text-align: center;
  font-size: 32pt;
  transform: translateY(40%);
}
