.form-container {
  display: flex;
  flex-wrap: row wrap;
}

.form-input-container {
  margin-right: 1em;
  margin-bottom: 1em;
}


.form-label {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 16pt;
}

.form-input {
  background-color: var(--primary-background-color);
  font-family: "Darker Grotesque", sans-serif;
  font-size: 14pt;
  border-style: solid;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  margin-top: 5px;
}

.delete-button {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 14pt;
  background-color: var(--primary-color);
  border-style: solid;
  border-radius: 50px;
  padding: 3px 20px;
  min-width: max-content;
  height: 40px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}
