.form-container-create-field {
  display: flex;
}

@media (max-width: 600px) {
  .form-input {
    width: 105%;
  }
  .action-button {
    max-width: min-content;
  }
  .form-container {
    flex-direction: column;
  }
}
