.form-container {
  display: flex;
  flex-wrap: row wrap;
}

@media (max-width: 600px) {
  .form-input {
    width: 105%;
  }
  .action-button {
    max-width: min-content;
    margin: auto;
  }
  .form-container {
    flex-direction: column;
  }
}
