<div class="form-container">
  <div class="form-input-container">
    <label class="form-label" for="{{model_type}}-name-new">Name</label>
    <input class="form-input" type="text" name="{{model_type}}-name" placeholder="{{model_type}} Name" [(ngModel)]="model.name">
  </div>

  <div class="form-input-container">
    <label class="form-label" for="{{model_type}}-description-new">Description</label>
    <input class="form-input" type="text" name="{{model_type}}-description-new" placeholder="{{model_type}} Description"
      [(ngModel)]="model.description">
  </div>
  <button class="delete-button" type="submit">
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>
</div>
