<div class="form-container" *ngIf="user !== undefined">
  <div class="empty-div">
    <h1 class="form-title">User Settings</h1>
    <!-- Information Section -->
    <form>
      <h2 class="section-title">Information</h2>
      <hr class="section-line">
      <div class="information-container">
        <app-form-input class="flex-item-container" label="User-Name" placeholder="Username" [(value)]="user.name"></app-form-input>
        <app-form-input class="flex-item-container" label="User-Email" placeholder="itsme@gotcaked.eu" [(value)]="user.email"></app-form-input>
        <app-form-input class="flex-item-container" label="User-Description" placeholder="Hello Its Me!" [(value)]="user.description">
        </app-form-input>
        <app-user-picture-uploader class="flex-item-container picture-upload" [picture_uri]="user.picture_uri" (pictureChange)="pictureChangeHandler($event)"></app-user-picture-uploader>
      </div>
      <app-success-message class="center-message" *ngIf="success_info" [message]="this.successMessage"></app-success-message>
      <app-error-message class="center-message" *ngIf="error_info" [errorMessage]="this.errorMessage"></app-error-message>
      <button class="action-button" type="button" (click)="informationHandler()">Save</button>
    </form>

    <!-- Security Section -->
    <form>
      <h2 class="section-title">Security</h2>
      <hr class="section-line">
      <div class="information-container">
        <app-form-input class="flex-item-container" label="Current Password" type="password" placeholder="MyCurrentSecretPassword"
          [(value)]="currentPassword">
        </app-form-input>
        <app-form-input class="flex-item-container" label="New Password" type="password" placeholder="MyNewSecretPassword" [(value)]="newPassword">
        </app-form-input>
        <app-form-input class="flex-item-container" label="Repeat new Password" type="password" placeholder="MyNewSecretPassword"
          [(value)]="repeatNewPassword">
        </app-form-input>
      </div>
      <app-success-message class="center-message" *ngIf="success_security" [message]="this.successMessage"></app-success-message>
      <app-error-message class="center-message" *ngIf="error_security" [errorMessage]="this.errorMessage"></app-error-message>
      <button class="action-button" type="button" (click)="passwordHandler()">Save</button>
    </form>

    <!-- Danger Section -->
    <h2 class="section-title">Danger</h2>
    <hr class="section-line">
    <app-error-message class="center-message" *ngIf="error_danger" [errorMessage]="this.errorMessage"></app-error-message>
    <button class="action-button" type="button" (click)="deleteUserHandler()">Delete Account</button>
  </div>
</div>
