<div class="settings-form-container">
  <div class="empty-div">
    <h1 class="form-title">Admin-Settings</h1>

    <!-- Category Section -->
    <form>
      <h2 class="section-title">Categories</h2>
      <hr class="section-line">
      <!--List Current Categories -->
      <div class="form-container" *ngFor="let category of categories;let index = index;">
        <div class="form-input-container">
          <label class="form-label" for="category-name-{{index}}">Name</label>
          <input class="form-input" type="text" name="category-name-{{index}}" placeholder="Category Name"
            [(ngModel)]="category.name">
        </div>
        <div class="form-input-container">
          <label class="form-label" for="category-description-{{index}}">Description</label>
          <input class="form-input" type="text" name="category-description-{{index}}" placeholder="Category Description"
            [(ngModel)]="category.description">
        </div>
        <button class="delete-button" (click)="updateHandler(category)"><fa-icon [icon]="faCheckCircle"></fa-icon></button>
        <button class="delete-button" (click)="deleteHandler(category.name)"><fa-icon [icon]="faTrash"></fa-icon></button>
      </div>
    </form>

    <!-- Add Category -->
    <form (submit)="addHandler()">
      <div class="form-container">
        <div class="form-input-container">
          <label class="form-label" for="category-name--new">Name</label>
          <input class="form-input" type="text" name="category-name" placeholder="Category Name" [(ngModel)]="tempCategory.name">
        </div>

        <div class="form-input-container">
          <label class="form-label" for="category-description-new">Description</label>
          <input class="form-input" type="text" name="category-description-new" placeholder="Category Description" [(ngModel)]="tempCategory.description">
        </div>
        <button class="delete-button" type="submit">Add Item</button>
      </div>
    </form>

    <!--Tags Section-->
    <form>
      <h2 class="section-title">Tags</h2>
      <hr class="section-line">
    </form>
  </div>
</div>
