html, body {
  background-color: var(--primary-background-color);
  width: 100%;
  height: 100%;
  margin: 0;
}

button {
  cursor: pointer;
}

.center-text {
  text-align: center;
}

/*
* Form Input Styles
*/

.form-input-container {
  margin-right: 1em;
  margin-bottom: 1em;
}

.form-label {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 16pt;
}

.flex-item-container {
  flex: 49%;
}

.form-input {
  background-color: var(--primary-background-color);
  font-family: "Darker Grotesque", sans-serif;
  font-size: 14pt;
  border-style: solid;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  margin-top: 5px;
}

.text-input {
  background-color: var(--primary-background-color);
  font-family: "Darker Grotesque", sans-serif;
  font-size: 14pt;
  border-style: solid;
  width: 100%;
  height: 30px;
  min-height: 30px;
  border-radius: 10px;
  margin-top: 5px;
  resize: vertical;
}

/*
* "Button Styles
*/
.action-button {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 14pt;
  background-color: var(--primary-color);
  border-style: solid;
  border-radius: 50px;
  padding: 3px 20px;
  min-width: max-content;
  height: 40px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}

/*
* etc styles
*/
.line {
  width: 100%;
  border: 0.5px solid;
  color: teal;
}




/* Colors */
:root {
  --primary-color: #A87C4F;
  --secondary-color: #F2B6D3;

  --primary-background-color: #FFF9F2;
  --secondary-background-color: #FFEFD6;

  --title-center-color: #000000;
}
