html, body {
  background-color: var(--primary-background-color);
  width: 100%;
  height: 100%;
  margin: 0;
}

button {
  cursor: pointer;
}


/* Colors */
:root {
  --primary-color: #A87C4F;
  --secondary-color: #F2B6D3;

  --primary-background-color: #FFF9F2;
  --secondary-background-color: #FFEFD6;

  --title-center-color: #000000;
}
