<div *ngIf="recipe" class="recipe-container">
  <h1 class="recipe-name">{{ recipe.name }}</h1>

  <div class="recipe-information-container">
    <!--- Recipe Image --->
    <div class="flex-item-container">
      <img class="recipe-image" *ngIf="recipe.picture_uri[0]; else noImage"
        src="{{ this.baseUrl + recipe.picture_uri }}" alt="Image" />
    </div>

    <!--- Basic Information Section --->
    <div class="flex-item-container">
      <h1>Description</h1>
      <hr class="line" />
      <p class="recipe-text">{{ recipe.description }}</p>
      <!-- Stat Tags -->
      <div class="recipe-description-tags">
        <p *ngIf="user" class="recipe-description-item" [routerLink]="['/user', recipe.user_id]">
          {{ user.name }}
        </p>
        <p class="recipe-description-item">{{ recipe.createdAt | date }}</p>
        <p class="recipe-description-item">{{ recipe.difficulty }}</p>
        <p class="recipe-description-item" [routerLink]="['/category', recipe.category_id]">
          {{ recipe.category_id }}
        </p>
        <p class="recipe-description-item">{{ recipe.rating }}10 Votes</p>
      </div>
    </div>


    <!--- Ingredients Section -->
    <div class="flex-item-container">
      <h1>Ingredients</h1>
      <hr class="line" />
      <app-ingredients-table-output class="recipe-text" [ingredients]="recipe.ingredients">
      </app-ingredients-table-output>
    </div>


    <!-- Preparation Section -->
    <div class="flex-item-container">
      <h1>Preparation</h1>
      <hr class="line" />
      <p class="recipe-text">{{ recipe.preparation }}</p>
    </div>


    <!-- Tags Section -->
    <div class="flex-item-container">
      <h1>Tags</h1>
      <hr class="line" />
      <div class="recipe-tags-list">
        <p class="recipe-tags-item" *ngFor="let tag of recipe.tags" [routerLink]="['/tag', tag.name]">
          {{ tag.name }}
        </p>
      </div>
    </div>
  </div>

  <!-- Comments Section -->
  <div class="recipe-comments">
    <h1>Comments</h1>
    <hr class="line" />
    <div>TODO Submit comment</div>
    <app-recipe-comments class="comment-text" *ngFor="let comment of comments" [comment]="comment"></app-recipe-comments>
  </div>
</div>

<ng-template #noImage>
  <img class="recipe-image"
    src="https://1.bp.blogspot.com/-Y9HKYoyAQg0/U6PMxAZaJOI/AAAAAAAACwY/12TZjUXl8sY/s1600/mama%2527s+picture+1.jpg"
    alt="Image" />
</ng-template>
