<div *ngIf="recipe" class="recipe-container">
  <h1 class="recipe-name">{{ recipe.name }}</h1>
  <div class="recipe-box">
    <div class="recipe-image-box">
      <img
        class="recipe-image"
        *ngIf="recipe.picture_uri[0]; else noImage"
        src="{{ this.baseUrl + recipe.picture_uri }}"
        alt="Image"
      />
    </div>

    <div class="recipe-description">
      <h1>Description</h1>
      <hr class="line" />
      <p>{{ recipe.description }}</p>
      <div class="recipe-description-tags">
        <p
          *ngIf="user"
          class="recipe-description-item"
          [routerLink]="['/user', recipe.user_id]"
        >
          {{ user.name }}
        </p>
        <p class="recipe-description-item">{{ recipe.createdAt | date }}</p>
        <p class="recipe-description-item">{{ recipe.difficulty }}</p>
        <p
          class="recipe-description-item"
          [routerLink]="['/category', recipe.category_id]"
        >
          {{ recipe.category_id }}
        </p>
        <p class="recipe-description-item">{{ recipe.rating }}10 Votes</p>
      </div>
    </div>
    <div class="recipe-ingredients">
      <h1>Ingredients</h1>
      <hr class="line" />
      <table class="recipe-ingredients-list">
        <tr>
          <th>Amount</th>
          <th>Ingredient</th>
        </tr>
        <tr *ngFor="let ingredient of recipe.ingredients">
          <td>{{ ingredient.amount }} {{ ingredient.unit }}</td>
          <td>{{ ingredient.name }}</td>
        </tr>
      </table>
    </div>
    <div class="recipe-preparation">
      <h1>Preparation</h1>
      <hr class="line" />
      <p>{{ recipe.preparation }}</p>
    </div>
    <div class="recipe-tags">
      <h1>Tags</h1>
      <hr class="line" />
      <div class="recipe-tags-list">
        <p
          class="recipe-tags-item"
          *ngFor="let tag of recipe.tags"
          [routerLink]="['/tag', tag.name]"
        >
          {{ tag.name }}
        </p>
      </div>
    </div>
    <div class="recipe-comments">
      <h1>Comments</h1>
      <hr class="line" />
      <div>TODO Submit comment</div>
      <div class="recipe-comments-list">
        <hr class="line" />
        <div class="recipe-comment" *ngFor="let comment of comments">
          <p [routerLink]="['/user', comment.user_id]">
            {{ comment.user_id }} on {{ comment.time | date }}
          </p>
          <pre class="comment-text">{{ comment.text }}</pre>
          <hr class="line" />
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noImage>
  <img
    class="recipe-image"
    src="https://1.bp.blogspot.com/-Y9HKYoyAQg0/U6PMxAZaJOI/AAAAAAAACwY/12TZjUXl8sY/s1600/mama%2527s+picture+1.jpg"
    alt="Image"
  />
</ng-template>
