.login-form-container {
  background-color: var(--secondary-background-color);
  border-radius: 1em;
  margin: 0 auto;
  padding: 3em;
  padding-bottom: 5em;
  width: fit-content;
}

.form-title {
  margin-top: -30px;
}

.empty-div {
  max-width: 400px;
  margin: 0 auto;
}

.form-input {
  width: 98%;
  border-radius: 10px;
  margin-bottom: 8%;
  margin-top: 5px;
}

.action-button {
  margin-top: 1%;
}
