.upload-form-container{
  background-color: var(--secondary-background-color);
  border-radius: 1em;
  margin: 0 auto;
  padding: 3em;
  padding-bottom: 5em;
  width: fit-content;
}

.empty-div {
  max-width: 1000px;
  margin-top: 20px;
}

.test{
  flex: 49%;
}


.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
